<app-header>

</app-header>



<div id="container">
  <form [formGroup]="registroForm" (ngSubmit)="crearUsuario()" autocomplete="off" >
    


    <div class="rut">
      <label for="rut"></label>
      <input type="text"  onpaste="return false;" placeholder="Rut" name="rut" formControlName="rut" required>
    </div>
    <div class="name">
      <label for="nombre"></label>
      <input type="text"  placeholder="Nombre" name="nombre" formControlName="nombre" required>
    </div>
    <div class="email">
        <label for="email"></label>
        <input type="email"  placeholder="Correo" name="email" formControlName="email" required>
    </div>
    <div class="telefono">
        <label for="telefono"></label>
        <input type="text"  placeholder="Telefono" name="tefono" formControlName="telefono" required>
    </div>
    
    <div class="bancodestino" >
      <label for="bancodestino"></label>
      <select placeholder="Bancos"   formControlName="bancodestino" name="bancodestino" id="subject_input" required>
      
        <option disabled selected>Bancos</option>
        <option *ngFor="let item of this.info">{{item.name}}</option>
     
      </select>
    </div>
    <div class="tipocuenta">
        <label for="tipocuenta"></label>
        <select placeholder="Tipo de Cuenta" formControlName="tipocuenta" name="tipocuenta" id="subject_input" required>
          <option disabled selected>Tipo de Cuenta</option>
          <option>Corriente</option>
          <option>Vista</option>
          <option>Rut</option>
        </select>
    </div>
    <div class="numerocuenta">
        <label for="numerocuenta"></label>
        <input type="text" placeholder="Nro de Cuenta" formControlName="numerocuenta" name="numerocuenta" id="name_input" required>
    </div>
    <div class="message">
      <label for="message"></label>
      <textarea name="message" placeholder="" id="message_input" cols="30" rows="5" required></textarea>
    </div>

    <div class="submit">
      <input type="submit" value="Registro" id="form_button" />
    </div>
  </form><!-- // End form -->
</div>  