<app-header>

</app-header>

 
<br>
<h2 class="text-alighn" style="text-align: center;">Transferir</h2>

<div id="container">
<br>
<br>
 


  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost" 
        onpaste="return false;" ondrop="return false;" autocomplete="off" autofocus required>
      </div>
    </div>
  </div>

  <!-- <form [formGroup]="transferirForm" (ngSubmit)="transferir()">   -->
  <nav *ngIf="this.post">
    <ul *ngFor="let post of this.post| filter:filterPost">
      <li>{{post.nombre}}</li>
      <li>{{post.email}}</li>
      <li>{{post.bancodestino}}</li>
      <li>{{post.tipocuenta}}</li>
    </ul>
   
  </nav>

     
      
    
        
    

 

      
    
     

      
      <br>
      <br>
      <br>
      
 
     <form [formGroup]="transferirForm" (ngSubmit)="transferir()">  
      
    <div class="numerocuenta">
        <label for="monto"></label>
        <input type="text" placeholder="Monto" formControlName="monto" name="monto" id="name_input" 
        onpaste="return false;" ondrop="return false;" autocomplete="off" autofocus required>
    </div>



    <div class="message">
      <label for="message"></label>
      <textarea name="message" placeholder="" id="message_input" cols="30" rows="5" required></textarea>
    </div>
     
    

    <div class="submit">
      <input type="submit" value="Transferir" id="form_button" />
    </div>
   </form> 
  <!-- // End form -->
<!-- </div>   -->
