<app-header>

</app-header>


<div id="container" >

    <table class="default" >
 
        <tr >
      
          <th>Nombre</th>
          <th></th>
          <th>Rut</th>
          <th></th>
          <th>Banco</th>
          <th></th>
          <th>Tipo de Cuenta</th>
          <th></th>
          <th>Monto</th>
      
        </tr>
      
        <tr *ngFor="let item of this.info">
      
          <td>{{item.nombre}}</td>
          <td></td>
          <td>{{item.rut}}</td>
          <td></td>
          <td>{{item.banco}}</td>
          <td></td>
          <td>{{item.tipocuenta}}</td>
          <td></td>
          <td>{{item.monto}}</td>
      
        </tr>
      
      
      </table>


</div>