

<div class="page">
    <nav class="page__menu menu">
      <img src="../../../assets/images/logo-banco-ripley.svg" (click)="home()"/>  
      <ul class="menu__list r-list">
        <li class="menu__group"><a  (click)="home()"  class="menu__link r-link text-underlined">Inicio</a></li> 
        <li class="menu__group"><a  (click)="registro()"  class="menu__link r-link text-underlined">Nuevo Destinatario</a></li>
        <li class="menu__group"><a (click)="transferir()" class="menu__link r-link text-underlined">Transferir</a></li>
        <li class="menu__group"><a (click)="cartola()" class="menu__link r-link text-underlined">Historial</a></li>
      </ul>
    </nav>
</div>
  